{% extends 'base.html' %}

{% block content %}

  <div class="row">
    <div class="col-md-3"><h3>Details Page</h3></div>
    <div class="col-md-2 offset-md-1"><a class="btn btn-primary" href="{% url 'poll_answer' question.id %}" role="button">Submit Answer</a></div>
  </div>
  <div class="row">
    <div class="col-md-5">

      <div>
        <h4>{{ question.title }}</h4>
        {% if question.choices %}
          <ul>
            {% for choice in question.choices %}
              <li>{{ choice.text }} <i>({{ choice.votes }})</i></li>
            {%endfor %}
          </ul>
        {% endif %}

        <p>Poll is created by {{ question.created_by.username }}</p>
      </div>
    </div>
  </div>




{% endblock %}
