{% extends 'base.html' %}

{% block content %}

  <div class="row">
    <div class="col-md-9 offset-md-1">
        <h1 class="h3 mb-3 font-weight-normal">Enter New Password!</h1>

        {% if validlink %}

          <p>
            Please enter your new password twice so we can verify you typed it in correctly.
          </p>

          <form method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <button type='submit' class='btn btn-info'>Change My Password</button>
          </form>

        {% else %}
          <div class="alert alert-danger" role="alert">
            Bad Link, have you used link before? try again please!
          </div>
        {% endif %}
    </div>
  </div>
































{% endblock %}
