{% extends 'base.html' %}

{% block content %}

  <div class="row">
    <div class="col-md-9 offset-md-1">
        <h1 class="h3 mb-3 font-weight-normal text-center">Password Reset!</h1>
        <p>
          Forgotten your password? Enter your email address below,
          and we'll email instructions for setting a new one.
        </p>

        <form method='POST'>
          {% csrf_token %}
          {{ form.as_p }}
          <button type='submit' class='btn btn-info'>Reset My Password</button>
        </form>
    </div>
  </div>




{% endblock %}
